.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #dfdfe0;
    background: #292a2f;
}

.hljs-comment,
.hljs-quote {
    color: #a5b0bd;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #ef81b0;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #dfdfe0;
}

.hljs-literal {
    color: #ef81b0;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #f08875;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #dfdfe0;
}

.hljs-number {
    color: #d5ca86;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #bbf0e4;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #dfdfe0;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
